@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}




.mesh3 {
  background-color: #f9f5f6;
  background-image: radial-gradient(at 12% 7%, #f9f5f6 0%, transparent 60%), radial-gradient(at 80% 27%, #f8e8ee 0%, transparent 50%), radial-gradient(at 61% 88%, #fdcedf 0%, transparent 40%), radial-gradient(at 18% 14%, #f2bed1 0%, transparent 30%);

}


.mesh {
  background-color: #002b5b;
background-image: radial-gradient(at 19% 96%, #002b5b 0%, transparent 60%), radial-gradient(at 10% 7%, #2b4865 0%, transparent 50%), radial-gradient(at 5% 22%, #256d85 0%, transparent 40%), radial-gradient(at 8% 23%, #8fe3cf 0%, transparent 30%);
}


  .mesh2 {
    background-image: linear-gradient(
      180deg,
      hsl(212deg 100% 18%) 0%,
      hsl(217deg 65% 22%) 8%,
      hsl(220deg 49% 25%) 17%,
      hsl(222deg 39% 27%) 25%,
      hsl(224deg 31% 29%) 33%,
      hsl(225deg 25% 31%) 42%,
      hsl(226deg 20% 33%) 50%,
      hsl(227deg 16% 35%) 58%,
      hsl(228deg 12% 37%) 67%,
      hsl(229deg 8% 39%) 75%,
      hsl(230deg 5% 40%) 83%,
      hsl(230deg 3% 42%) 92%,
      hsl(0deg 0% 44%) 100%
    );
  }



  .mesh5 {
    background-color: #074173;
background-image: radial-gradient(at 77% 24%, #074173 0%, transparent 60%), radial-gradient(at 67% 34%, #1679ab 0%, transparent 50%), radial-gradient(at 78% 83%, #5debd7 0%, transparent 40%), radial-gradient(at 61% 41%, #c5ff95 0%, transparent 30%);
  }


  .mesh6 {
    background-color: #401f71;
background-image: radial-gradient(at 56% 78%, #401f71 0%, transparent 60%), radial-gradient(at 28% 77%, #824d74 0%, transparent 50%), radial-gradient(at 96% 17%, #be7b72 0%, transparent 40%), radial-gradient(at 37% 75%, #fdaf7b 0%, transparent 30%);
  }


  .mesh7 {
    background-color:hsla(211,100%,17%,1);
    background-image:
    radial-gradient(at 100% 89%, hsla(212,48%,47%,0.48) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(245,0%,67%,0.57) 0px, transparent 50%);
  }


.mesh8 {
  
  background: radial-gradient(at 74% 57%, #fffcef 0px, transparent 50%), radial-gradient(at 8% 93%, #d2ebcd 0px, transparent 50%), radial-gradient(at 30.11853448275862% 11.458333333333332%, #ff7f5b 0px, transparent 50%), radial-gradient(at 82% 68%, #393939 0px, transparent 50%), #fffcef;
    
}


.mesh9 {
  background-color: #80bcbd;
background-image: radial-gradient(at 2% 79%, #80bcbd 0%, transparent 60%), radial-gradient(at 89% 82%, #aad9bb 0%, transparent 50%), radial-gradient(at 9% 99%, #d5f0c1 0%, transparent 40%), radial-gradient(at 73% 92%, #f9f7c9 0%, transparent 30%);
}







  .custom td {
    text-align: center ;
  }